extends layout

block content
  .index
    .cover
      .container
        .row
          .reservation.col-md-5.col-md-push-7
            span(class="glyphicon glyphicon-phone-alt")
            span Rezerwacja:
            a(href="callto:+48791781646") 791 781 646
          .col-md-7.col-md-pull-5
            h1 Noclegi<br />Pracownicze<br />Konin
            h2 Tanie, dobrze wyposażone pokoje dla firm wykonujących prace w okolicy Konina

    .container

      section.rooms.row
        .col-xs-12
          h2 Baza noclegowa
          p Zapraszamy do skorzystania z noclegów w cichej i spokojnej miejscowości położonej w odległości 5 km od centrum Konina. Dysponujemy 30 miejscami noclegowymi, w zależności od potrzeb oferujemy pokoje 2, 3, 4 i wieloosobowe. W każdym z pokoi znajduję się telewizor oraz dostępny jest bezprzewodowy Internet.
          p Do dyspozycji gości jest także wspólna kuchnio-jadalnia, zaopatrzona w kuchnię gazową, mikrofalówkę oraz lodówkę.
        .thumb.col-sm-4
          a(href='/img/photos/room1.jpg')
            img(src='/img/photos/thumb/room1.jpg')
        .thumb.col-sm-4
          a(href='/img/photos/room2.jpg')
            img(src='/img/photos/thumb/room2.jpg')
        .thumb.col-sm-4
          a(href='/img/photos/garden.jpg')
            img(src='/img/photos/thumb/garden.jpg')
        .col-xs-12
          p Udostępniamy również miejsca parkingowe w zamkniętych garażach oraz przestronny ogród z miejscem na grilla i ognisko. W odległości 50 metrów od budynku znajduje się przystanek autobusu miejskiego.

      section.row
        .col-xs-12
          h2 Ceny i rezerwacja
          p Nasze ceny obniżają się z każdym dniem pobytu.
          p W celu rezerwacji prosimy o kontakt telefoniczny na numer <a href="callto:+48791781646">791 781 646</a>.
          table.table
            thead
              tr
                th Ilość dni
                th cena za dobę od osoby
            tbody
              tr
                td 1-2 dni
                td 35 zł
              tr
                td 3-6 dni
                td 30 zł
              tr
                td 7 dni i więcej
                td 25 zł
              tr
                td
                td
                  i podane kwoty są cenami brutto
      section.contact.row(id='kontakt')
        .col-xs-12
          h2 Kontakt
        .col-md-6

          p
            span Noclegi Tulipan
            span ul. Leśna 22, 62-513 Brzeźno, k. Konina
            span
              span(class="glyphicon glyphicon-phone-alt")
              a(href='callto:+48791781646') 791 781 646
            span
              span(class="glyphicon glyphicon-envelope")
              a(href='mailto:rezerwacja@kwatery-konin.pl') rezerwacja@kwatery-konin.pl

          h3 Jak do nas trafić
          p Ośrodek w Brzeźnie znajduje się dokładnie między Koninem a autostradą A2.
          ul
            li Duży, darmowy parking
            li 5km od centrum konina (dogodny dojazd trasą 92)
            li Dobry dojazd (blisko autostrady A2)
        .map.col-md-6 <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://mapy.google.pl/maps/ms?msa=0&amp;msid=211353188404189954275.0004b924733d9aecf95ad&amp;ie=UTF8&amp;t=m&amp;ll=52.186984,18.29361&amp;spn=0.126292,0.332336&amp;z=11&amp;output=embed" class="google-iframe"></iframe>


